<div class= "container">

<h1>All movies</h1>
      <ul class="list-group mb-3">
        <% @list.movies.each do |movie| %>
          <li class="list-group-item">
          <p>
          <%= movie.title %>
          </p>
          </li>
          <% end %>
      </ul>
</div>
